Repository archzfs/archzfs-keyring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, keyring_check

lint:
  stage: test
  needs: []
  before_script:
  - pacman-key --init
  - pacman -Syu --needed --noconfirm make flake8 mypy python-black python-isort
  script:
  - make lint

test:
  stage: test
  needs: []
  before_script:
  - pacman-key --init
  - pacman -Syu --needed --noconfirm make python sequoia-sq python-coverage python-pytest python-tomli wkd-exporter
  script:
  - make test
  - make wkd
  - make wkd WKD_FQDN=master-key.archlinux.org
  - make wkd_inspect
  ...

keyring_check:
  stage: test
  needs: []
  before_script:
  - pacman-key --init
  - pacman -Syu --needed --noconfirm make python sequoia-sq git
  script:
  - ./keyringctl check
  - ./keyringctl ci

archzfs: don't install wkd_sync
  Makefile
Due: lint, test, keyring_check

archzfs: add package and GitHub workflows
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-comment.yml
  package/PKGBUILD
  package/archzfs-keyring.install
Due: none

fix: Adapt use of sq to sequoia-sq 0.39.0
  libkeyringctl/keyring.py
  libkeyringctl/sequoia.py
  libkeyringctl/util.py
  tests/test_sequoia.py
Due: lint, test, keyring_check

fix(sq): Adjust test to expected system call
  tests/test_sequoia.py
Due: lint, test, keyring_check

Extend expiry of bgyorgy's key
  keyring/packager/bgyorgy/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6/subkey/4BB53A8D1FF43028D8FD5BFFEE6B8CCB01811DF9/certification/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6.asc
  keyring/packager/bgyorgy/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6/subkey/A5FDA3A0E9AEBDA1D3B27FD21F4827C68667FA3E/certification/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6.asc
  keyring/packager/bgyorgy/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6/uid/Ballo_Gyorgy__bgyorgy@archlinux.org_9cece270/certification/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6.asc
  keyring/packager/bgyorgy/14E46FE5FD69F2E287E244DB632C3CC0D1C9CAF6/uid/Ballo_Gyorgy__bgyorgy@archlinux.org_9cece270/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

fix: Add Kyle's archlinux.org UID
  keyring/packager/kkeen/48C3B1F30DDD0FE67E516D16396E3E25BAB142C1/uid/Kyle_Keen__keenerd@archlinux.org_7d9765ab/Kyle_Keen__keenerd@archlinux.org_7d9765ab.asc
  keyring/packager/kkeen/48C3B1F30DDD0FE67E516D16396E3E25BAB142C1/uid/Kyle_Keen__keenerd@archlinux.org_7d9765ab/certification/48C3B1F30DDD0FE67E516D16396E3E25BAB142C1.asc
Due: keyring_check

Extend expiry of alex19EP's key
  keyring/packager/alex19ep/6C7F7F22E0152A6FD5728592DAD6F3056C897266/subkey/75BBE2CEFC29F1893C32694777226124E8643979/certification/6C7F7F22E0152A6FD5728592DAD6F3056C897266.asc
  keyring/packager/alex19ep/6C7F7F22E0152A6FD5728592DAD6F3056C897266/subkey/81FF5ED0AA1B82B441D67240C3B3386201109B6D/certification/6C7F7F22E0152A6FD5728592DAD6F3056C897266.asc
  keyring/packager/alex19ep/6C7F7F22E0152A6FD5728592DAD6F3056C897266/subkey/89DB0CFD528EC1A92E0C11341736C918F59A5673/certification/6C7F7F22E0152A6FD5728592DAD6F3056C897266.asc
  keyring/packager/alex19ep/6C7F7F22E0152A6FD5728592DAD6F3056C897266/uid/Alexander_Epaneshnikov__aarnaarn2@gmail.com_013f1c60/certification/6C7F7F22E0152A6FD5728592DAD6F3056C897266.asc
  keyring/packager/alex19ep/6C7F7F22E0152A6FD5728592DAD6F3056C897266/uid/Alexander_Epaneshnikov__alex19ep@archlinux.org_5a51697c/certification/6C7F7F22E0152A6FD5728592DAD6F3056C897266.asc
  keyring/packager/alex19ep/6C7F7F22E0152A6FD5728592DAD6F3056C897266/uid/Alexander_Epaneshnikov__email@alex19ep.me_87d85ddf/certification/6C7F7F22E0152A6FD5728592DAD6F3056C897266.asc
Due: keyring_check

Add new packager key for mh4ckt3mh4ckt1c4s
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/directkey/certification/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/2024-11-05_18-50-40.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/directkey/certification/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/2024-11-05_18-52-46.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/subkey/4B0BD4218026D3733B05DCC375197594536F85A1/4B0BD4218026D3733B05DCC375197594536F85A1.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/subkey/4B0BD4218026D3733B05DCC375197594536F85A1/certification/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/subkey/60534F28B920E1FDE32C74FCDA3BCBCE1BC5D076/60534F28B920E1FDE32C74FCDA3BCBCE1BC5D076.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/subkey/60534F28B920E1FDE32C74FCDA3BCBCE1BC5D076/certification/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/subkey/A19FDE923846167784DB89527EE086E90DF0F9A1/A19FDE923846167784DB89527EE086E90DF0F9A1.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/subkey/A19FDE923846167784DB89527EE086E90DF0F9A1/certification/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/uid/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029.asc
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/uid/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029/certification/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3.asc
Due: keyring_check

Add demize's signature for mh4ckt3mh4ckt1c4s
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/uid/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add certification from dvzrv for mh4ckt3mh4ckt1c4s
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/uid/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Add artafinde's signature for mh4ckt3mh4ckt1c4s
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/uid/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029/certification/3572FA2A1B067F22C58AF155F8B821B42A6FDCD7.asc
Due: keyring_check

Add anthraxx signature for mh4ckt3mh4ckt1c4s
  keyring/packager/mh4ckt3mh4ckt1c4s/BC08D317EC2DC6E1F337DB4FC4EE8370D5490BD3/uid/Quentin_Michaud__mh4ckt3mh4ckt1c4s@archlinux.org_b9869029/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

feat: Export all certificates that track a specific UserID
  Makefile
Due: lint, test, keyring_check

Add anthraxx signature for carsme
  keyring/packager/carsme/69F8E5E5E85F771020A0777C3D309011083BA25E/uid/Carl_Smedstad__carsme@archlinux.org_d51dc13d/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

fix: Adapt to sequoia-sq > 1.0 CLI API
  libkeyringctl/sequoia.py
  tests/test_sequoia.py
Due: lint, test, keyring_check

fix(tests): sequoia-sq 1.0 compat: avoid reusing file handles
  tests/conftest.py
Due: lint, test, keyring_check

fix: Format code using black
  libkeyringctl/sequoia.py
  tests/test_sequoia.py
Due: lint, test, keyring_check

fix(mypy): Rename variable preventing (wrong) redefinition detection
  tests/conftest.py
Due: lint, test, keyring_check

Extend bertptrs packager key
  keyring/packager/bertptrs/38100C24376CD5F6ED4FF4B46918400C2703040C/subkey/D941AAD0411B0E93E861F37AB18A1301BB6AF93A/certification/38100C24376CD5F6ED4FF4B46918400C2703040C.asc
  keyring/packager/bertptrs/38100C24376CD5F6ED4FF4B46918400C2703040C/uid/Bert_Peters__packager_key___bertptrs@archlinux.org_a3d06728/certification/38100C24376CD5F6ED4FF4B46918400C2703040C.asc
Due: keyring_check

Updated expiry date of Torxed packager key
  keyring/packager/torxed/8AA2213C8464C82D879C8127D4B58E897A929F2E/subkey/13B52751932976DD5A23ADD54DB125511D786A23/certification/8AA2213C8464C82D879C8127D4B58E897A929F2E.asc
  keyring/packager/torxed/8AA2213C8464C82D879C8127D4B58E897A929F2E/subkey/F8EB166AFD277B0240CFBD2699EA90CB324098C3/certification/8AA2213C8464C82D879C8127D4B58E897A929F2E.asc
Due: keyring_check

chore: Remove certificate of sudoforge
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/FAD824618B562B99CCCE05FB905A8C3700E16349.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/subkey/247C5662524E6EFCF4000027DC32C13A989E0DA2/247C5662524E6EFCF4000027DC32C13A989E0DA2.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/subkey/247C5662524E6EFCF4000027DC32C13A989E0DA2/certification/FAD824618B562B99CCCE05FB905A8C3700E16349.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/subkey/6F1794FBCF261ECC05B7F5AD877F9F855FF542E9/6F1794FBCF261ECC05B7F5AD877F9F855FF542E9.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/subkey/6F1794FBCF261ECC05B7F5AD877F9F855FF542E9/certification/FAD824618B562B99CCCE05FB905A8C3700E16349.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/subkey/BEED5A2156B1F10FC63C251668A16F68D747E833/BEED5A2156B1F10FC63C251668A16F68D747E833.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/subkey/BEED5A2156B1F10FC63C251668A16F68D747E833/certification/FAD824618B562B99CCCE05FB905A8C3700E16349.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/uid/sudoforge__sudoforge@archlinux.org_f162adb7/certification/FAD824618B562B99CCCE05FB905A8C3700E16349.asc
  keyring/packager/sudoforge/FAD824618B562B99CCCE05FB905A8C3700E16349/uid/sudoforge__sudoforge@archlinux.org_f162adb7/sudoforge__sudoforge@archlinux.org_f162adb7.asc
Due: keyring_check

fix: Check certificates in WKD for consistency
  Makefile
Due: lint, test, keyring_check

Extend hashworks packager key to 2027-12-31
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/subkey/03CE55B646FC0D24D88819D3A8A210A3C2788C50/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/subkey/4D1464A3A7AE0B6B4D47CFB885CC85A3781ABCDF/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/subkey/A61E680E7CDEE716F1F188A169EF6D9E49A64EB8/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/subkey/F034A111A8DC7F2886484911EA6828FD686D9150/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__hashworks@archlinux.org_30f9a2cd/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__jk@hash.works_34c22245/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__jk@hashworks.net_3242db2e/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__jkromlinger@hashworks.net_c1653b7b/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__justin.kromlinger@exxeta.com_fad9bd7e/revocation/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__justin.kromlinger@streamonkey.de_65e7682d/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__justin.kromlinger@stud.htwk-leipzig.de_8cc54ad3/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__justin.kromlinger@stud.htwk-leipzig.de_8cc54ad3/revocation/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/Justin_Kromlinger__justin@kromlinger.eu_9ae613cb/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/hashworks__mail@hash.works_16724075/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/uid/hashworks__mail@hashworks.net_6a86229b/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
Due: keyring_check

Remove certification of revoked subkey from packager hashworks
  keyring/packager/hashworks/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67/subkey/03CE55B646FC0D24D88819D3A8A210A3C2788C50/certification/5C81C9D6C8D7475DF65A0C884FE7F4FEAC8EBE67.asc
Due: keyring_check

feat: Add revocation certification for bluewind's packager key
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@archlinux.org_02e4c8b2/certification/3572FA2A1B067F22C58AF155F8B821B42A6FDCD7.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@archlinux.org_02e4c8b2/revocation/3572FA2A1B067F22C58AF155F8B821B42A6FDCD7.asc
Due: keyring_check

Add artafinde's signature for daurnimator
  keyring/packager/daurnimator/954A3772D62EF90E4B31FBC6C91A9911192C187A/uid/Daurnimator__daurnimator@archlinux.org_2baa8b1a/certification/3572FA2A1B067F22C58AF155F8B821B42A6FDCD7.asc
Due: keyring_check

Add anthraxx's signature for strit
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/uid/Dan_Johansen__strit@archlinux.org_75531a5b/certification/D8AFDDA07A5B6EDFA7D8CCDAD6D055F927843F1C.asc
Due: keyring_check

Add demize's signature for strit
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/uid/Dan_Johansen__strit@archlinux.org_75531a5b/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

add new packager key for strit
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/F378F4968DB4E4A8488259C62BAC87100D5CD322.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/directkey/certification/F378F4968DB4E4A8488259C62BAC87100D5CD322/2025-03-14_15-17-35.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/subkey/1395DF2DC56C1510D10540797550672419BCF988/1395DF2DC56C1510D10540797550672419BCF988.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/subkey/1395DF2DC56C1510D10540797550672419BCF988/certification/F378F4968DB4E4A8488259C62BAC87100D5CD322.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/subkey/7C040F59F247D7209F6B995E0483304BDB6E9E0C/7C040F59F247D7209F6B995E0483304BDB6E9E0C.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/subkey/7C040F59F247D7209F6B995E0483304BDB6E9E0C/certification/F378F4968DB4E4A8488259C62BAC87100D5CD322.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/subkey/FAAE3B5063A6D28BECAB26326C7A0F7126F9D9A8/FAAE3B5063A6D28BECAB26326C7A0F7126F9D9A8.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/subkey/FAAE3B5063A6D28BECAB26326C7A0F7126F9D9A8/certification/F378F4968DB4E4A8488259C62BAC87100D5CD322.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/uid/Dan_Johansen__strit@archlinux.org_75531a5b/Dan_Johansen__strit@archlinux.org_75531a5b.asc
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/uid/Dan_Johansen__strit@archlinux.org_75531a5b/certification/F378F4968DB4E4A8488259C62BAC87100D5CD322.asc
Due: keyring_check

feat: Add third-party certification by dvzrv for strit
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/uid/Dan_Johansen__strit@archlinux.org_75531a5b/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Add artafinde's signature for strit
  keyring/packager/strit/F378F4968DB4E4A8488259C62BAC87100D5CD322/uid/Dan_Johansen__strit@archlinux.org_75531a5b/certification/3572FA2A1B067F22C58AF155F8B821B42A6FDCD7.asc
Due: keyring_check

fix(wkd_sync): Ignore removed certificate
  wkd_sync/archlinux-keyring-wkd-sync
Due: none

Add demize's revocation for coderobe's packager key
  keyring/packager/coderobe/54EB4D6DB209862C8945CACCED84945B35B2555C/uid/Robin_Broda__Arch_Linux___coderobe@archlinux.org_6ce6c858/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/packager/coderobe/54EB4D6DB209862C8945CACCED84945B35B2555C/uid/Robin_Broda__Arch_Linux___coderobe@archlinux.org_6ce6c858/revocation/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add demize's revocation for maximbaz's packager key
  keyring/packager/maximbaz/56C3E775E72B0C8B1C0C1BD0B5DB77409B11B601/uid/Maxim_Baz__maximbaz@archlinux.org_a7b06759/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/packager/maximbaz/56C3E775E72B0C8B1C0C1BD0B5DB77409B11B601/uid/Maxim_Baz__maximbaz@archlinux.org_a7b06759/revocation/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add demize's revocation for xyne's packager key
  keyring/packager/xyne/D89FAAEB4CECAFD199A2F5E612C6F735F7A9A519/uid/Xyne.__Replaces_EC3CBE7F607D11E663149E811D1F0DC78F173680.___xyne@archlinux.org_7b075f4f/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/packager/xyne/D89FAAEB4CECAFD199A2F5E612C6F735F7A9A519/uid/Xyne.__Replaces_EC3CBE7F607D11E663149E811D1F0DC78F173680.___xyne@archlinux.org_7b075f4f/revocation/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add demize's revocation for escondida's packager key
  keyring/packager/escondida/DB5B4A9546601F945389C66940AC6F48D55AB11D/uid/Ivy_Foster__iff@archlinux.org_fdc25edd/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/packager/escondida/DB5B4A9546601F945389C66940AC6F48D55AB11D/uid/Ivy_Foster__iff@archlinux.org_fdc25edd/revocation/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

Add demize's revocation for bluewind's packager key
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@archlinux.org_02e4c8b2/certification/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
  keyring/packager/bluewind/CFA6AF15E5C74149FC1D8C086D1655C14CE1C13E/uid/Florian_Pritz__bluewind@archlinux.org_02e4c8b2/revocation/69E6471E3AE065297529832E6BA0F5A2037F4F41.asc
Due: keyring_check

feat: Revoke third-party signature for coderobe
  keyring/packager/coderobe/54EB4D6DB209862C8945CACCED84945B35B2555C/uid/Robin_Broda__Arch_Linux___coderobe@archlinux.org_6ce6c858/certification/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
  keyring/packager/coderobe/54EB4D6DB209862C8945CACCED84945B35B2555C/uid/Robin_Broda__Arch_Linux___coderobe@archlinux.org_6ce6c858/revocation/2AC0A42EFB0B5CBC7A0402ED4DC95B6D7BE9892E.asc
Due: keyring_check

Path conditions:
  lint: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  test: any of: keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
  keyring_check: any of: keyring/**/*, keyringctl, libkeyringctl/*, tests/*, .gitlab-ci.yml, Makefile
